<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bank statements</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-10 mx-auto">
                <h1>Account balance calculation history</h1>

                <div class="back-btn" style="margin-bottom: 20px;">
                    <form action="#" th:action="@{'/'}" >
                        <button type="submit" id="backButton" class="btn btn-primary">Back</button>
                    </form>
                </div>

                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Account Number</th>
                            <th scope="col">Account balance</th>
                            <th scope="col">Beginning</th>
                            <th scope="col">End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="balance : ${balanceList}">
                            <td th:text="${balance.id}"></td>
                            <td th:text="${balance.accountNumber}"></td>
                            <td th:text="${#numbers.formatDecimal(balance.accountBalance, 0, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="${balance.dateFrom}"></td>
                            <td th:text="${balance.dateTo}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>