<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CSV import</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1>Data export to CSV</h1>
                <form method="POST" th:action="@{/exportFile}" enctype="multipart/form-data">
                    <div class="form-group mt-3">
                        <label for="dateFrom">Beginning</label>
                        <input type="date" name="dateFrom" id="dateFrom" class="form-control">
                        <label for="dateTo">End</label>
                        <input type="date" name="dateTo" id="dateTo" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Export</button>
                </form>

                <div class="back-btn" style="margin-top: 20px;">
                    <form action="#" th:action="@{'/'}" >
                        <button type="submit" id="backButton" class="btn btn-primary">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>